In [2]:
import io

In [3]:
message = 'This is just a normal string.'

In [8]:
f = io.StringIO(message)

In [9]:
f.read()

'This is just a normal string.'

In [10]:
f.write('Rounak rathi')

12

In [13]:
f.seek(1)

1

In [14]:
f.read()

'his is just a normal string.Rounak rathi'

# DATETIME

In [15]:
import datetime

In [20]:
t=datetime.time(2,20,5)

In [23]:
print(t)

02:20:05

In [24]:
print(t.hour)
print(t.min)
print(t.second)

2
00:00:00
5

In [25]:
print('Earliest  :', datetime.time.min)
print('Latest    :', datetime.time.max)
print('Resolution:', datetime.time.resolution)

Earliest  : 00:00:00
Latest    : 23:59:59.999999
Resolution: 0:00:00.000001

In [26]:
today = datetime.date.today()
print(today)
print('ctime:', today.ctime())
print('tuple:', today.timetuple())
print('ordinal:', today.toordinal())
print('Year :', today.year)
print('Month:', today.month)
print('Day  :', today.day)

2019-05-28
ctime: Tue May 28 00:00:00 2019
tuple: time.struct_time(tm_year=2019, tm_mon=5, tm_mday=28, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=148, tm_isdst=-1)
ordinal: 737207
Year : 2019
Month: 5
Day  : 28

In [27]:
print('Earliest  :', datetime.date.min)
print('Latest    :', datetime.date.max)
print('Resolution:', datetime.date.resolution)

Earliest  : 0001-01-01
Latest    : 9999-12-31
Resolution: 1 day, 0:00:00

In [33]:
d1 = datetime.date(2019, 3, 11)
print('d1:', d1)

d2 = d1.replace(year=1999)
print('d2:', d2)

d1: 2019-03-11
d2: 1999-03-11

In [34]:
d1

datetime.date(2019, 3, 11)

In [35]:
d2

datetime.date(1999, 3, 11)

In [36]:
d1-d2

datetime.timedelta(days=7305)