In [1]:
dog=2

In [2]:
dog

2

In [3]:
asd=['Adarsh','Rahul']

In [4]:
asd

['Adarsh', 'Rahul']

In [5]:
a=5

In [6]:
a

5

In [7]:
a+=5

In [8]:
a

10

In [9]:
a*=2

In [10]:
a

20

Determining variable type with type()
You can check what type of object is assigned to a variable using Python's built-in type() function. Common data types include:

int (for integer)
float
str (for string)
list
tuple
dict (for dictionary)
set
bool (for Boolean True/False)

In [11]:
type(a)

int

In [12]:
type(asd)

list

In [13]:
a=(1,2,3)

In [14]:
a

(1, 2, 3)

In [15]:
type(a)

tuple

string

In [16]:
"ADARSH"

'ADARSH'

In [17]:
"My name is Adarsh"

'My name is Adarsh'

In [18]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-18-da9a34b3dc31>, line 2)

In [19]:

' I''m using single quotes, but this will create an error'

' Im using single quotes, but this will create an error'

In [20]:
len("My name is Adarsh")

17

In [21]:
s="Hello Adarsh"

In [22]:
s

'Hello Adarsh'

In [23]:
s[0]

'H'

In [24]:
s[-3]

'r'

In [25]:
s[1:]

'ello Adarsh'

In [26]:
s[:3]

'Hel'

In [27]:
s[1:-1]

'ello Adars'

In [28]:
s[:5]

'Hello'

In [31]:
#gap of two
s[::1]

'Hello Adarsh'

In [30]:
#gap of two
s[::2]

'HloAas'

In [32]:
#gap of negative 1
s[::-1]

'hsradA olleH'

In [33]:
type(s)

str

In [34]:
#gap of negative 2
s[::-2]

'hrd le'

WE cannot replace like

In [35]:
s[0]="A"

TypeError: 'str' object does not support item assignment

In [40]:
#we can add
s=s-" Mundra"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [41]:
s

'Hello AdarshMundra Mundra'

In [42]:
a="a"

In [43]:
a*10

'aaaaaaaaaa'

In [44]:
a.upper()

'A'

In [45]:
s.upper()

'HELLO ADARSHMUNDRA MUNDRA'

In [46]:
s.lower()

'hello adarshmundra mundra'

In [47]:
s.split()

['Hello', 'AdarshMundra', 'Mundra']

In [49]:
s.split('h')

['Hello Adars', 'Mundra Mundra']

In [50]:
print("I'm going to inject %s here." %'something')

I'm going to inject something here.

In [51]:
print("I'm going to inject %s TEXT here and %s TEXT here." %('some','more'))

I'm going to inject some TEXT here and more TEXT here.

x, y = 'some', 'more'
print("I'm going to inject %s text here, and %s text here."%(x,y))

In [53]:
print('He said his name was %s.' %'Fred')
print('He said his name was %r.' %'Fred')

He said his name was Fred.
He said his name was 'Fred'.

In [54]:
print('I once caught a fish %s.' %'this \tbig')
print('I once caught a fish %r.' %'this \tbig')

I once caught a fish this 	big.
I once caught a fish 'this \tbig'.

In [55]:
print('I wrote %s programs today.' %3.75)
print('I wrote %d programs today.' %3.75)

I wrote 3.75 programs today.
I wrote 3 programs today.

Floating point

In [56]:
print('Floating point numbers: %5.2f' %(13.144))

Floating point numbers: 13.14

In [57]:
print('Floating point numbers: %2.2f' %(13.144))

Floating point numbers: 13.14

In [58]:
print('Floating point numbers: %1.2f' %(13.144))

Floating point numbers: 13.14

In [59]:
print('Floating point numbers: %0.3f' %(13.144))

Floating point numbers: 13.144

In [60]:
print('Floating point numbers: %25.2f' %(13.144))

Floating point numbers:                     13.14

Formatting with the .format() method
A better way to format objects into your strings for print statements is with the string .format() method. The syntax is:

'String here {} then also {}'.format('something1','something2')
For example:

In [61]:
print('This is a string with an {}'.format('Insert'))

This is a string with an Insert

In [64]:
print('THE {2} {1} {0}'.format(' FOX',' BROWN',' QUICK'))

THE  QUICK  BROWN  FOX

In [65]:
#why dot format()
print('A %s saved is a %s earned.' %('penny','penny'))
# vs.
print('A {p} saved is a {p} earned.'.format(p='penny'))

A penny saved is a penny earned.
A penny saved is a penny earned.

In [67]:
name = 'Fred'
print(f"He said his name is {name}.")

He said his name is Fred.

In [68]:
print(f"He said his name is {name!r}")

He said his name is 'Fred'