In [5]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [6]:
vol(2)

33.49333333333333

In [12]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print("{} is in the range between {} and {}".format(num,low,high))
    else:
        print("NOT IN RANGE")

In [13]:
# Check
ran_check(5,2,7)

5 is in the range between 2 and 7

In [14]:
def ran_bool(num,low,high):
    if num in range(low,high+1):
        return True
    else:
        return False

In [15]:
ran_bool(3,1,10)

True

In [16]:
ran_bool(31,1,10)

False

In [19]:
def up_low(s):
    d={"upper":0,"lower":0}
    for i in s:
        if i.isupper():
            d["upper"]+=1
        elif i.islower():
            d["lower"]+=1
        else:
            pass
    print("Original String : ", s)
    print("No. of Upper case characters : ", d["upper"])
    print("No. of Lower case Characters : ", d["lower"])

In [20]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

In [25]:
def unique_list(lst):
    l=[]
    for a in lst:
        if a not in l:
            l.append(a)
    return l

In [26]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [27]:
def multiply(numbers):  
    t=1
    for i in numbers:
        t*=i
    return t

In [28]:
multiply([1,2,3,-4])

-24

In [29]:
def palindrome(s):
    return s == s[::-1]

In [30]:
palindrome('helleh')

True

In [31]:
palindrome('madam')

True

In [ ]:
palindrome('helle')